/********************************
 ********   Colors   *************
 ********************************/
.text-color-primary {
  color: #0C5394;
}
/********************************
 ********   Buttons   *************
 ********************************/
.btn-primary {
  background-color: #0C5394;
  border-color: #0C5394;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-primary:hover {
  background-color: #4585F4;
  border-color: #4585F4;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7F7;
}
.main-card {
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: calc(100vh - 96px);
}
/********************************
 ********   Footer   *************
 ********************************/
.footer {
  height: 3rem;
  text-align: center;
  color: #0C5394;
  align-items: center;
}
/********************************
 ********  Sidebar   *************
 ********************************/
.nav {
  background: #0C5394;
  min-height: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav .nav-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin-bottom: 3rem;
}
.nav .nav-link.active span:first-child {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav .nav-link span:first-child {
  padding: 1rem 0;
  padding-left: 1rem;
  padding-right: 6px;
}
.nav .nav-link:last-child {
  margin-bottom: 0;
  margin-top: auto;
}
.nav .sidebar-text {
  margin-left: 4px;
}
/********************************
 ********   Modal   *************
 ********************************/
.modal-content {
  border-radius: 1.5rem;
}
.text-header {
  color: #0C5394;
  font-weight: 500;
}
