@color-background: #F7F7F7;
@color-primary: #0C5394;
@color-white: #FFFFFF;
@color-primary-button-hover: #4585F4;
@grey-light: #BCBCBC;

/********************************
 ********   Colors   *************
 ********************************/

.text-color-primary{
    color: @color-primary;
}

/********************************
 ********   Buttons   *************
 ********************************/

.btn-primary{
    background-color: @color-primary;
    border-color: @color-primary;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-primary:hover{
    background-color: @color-primary-button-hover;
    border-color: @color-primary-button-hover;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: @color-background;
}

.main-card{
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: calc(100vh - 96px);
}

/********************************
 ********   Footer   *************
 ********************************/

.footer{
    height: 3rem;
    text-align: center;
    color: @color-primary;
    align-items: center;
}

/********************************
 ********  Sidebar   *************
 ********************************/

.nav{
    background: @color-primary;
    min-height: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    .nav-link{
        color: @color-white;
        text-decoration: none;
        padding: 0;
        margin-bottom: 3rem;
        &.active{
            span:first-child{
                background-color: rgba(@color-white, .3);
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }
        }
        span:first-child{
            padding: 1rem 0;
            padding-left: 1rem;
            padding-right: 6px;
        }
        &:last-child{
            margin-bottom: 0;
            margin-top: auto;
        }
    }
    .sidebar-text{
        margin-left: 4px;
    }
}

/********************************
 ********   Modal   *************
 ********************************/

.modal-content {
    border-radius: 1.5rem;
}

.text-header {
    color: @color-primary;
    font-weight: 500;

}

/*******************************************/
/* Autocomplete*/

.autocomplete-suggestions {
    background: #F7F7FC;
    padding: 4px;

    .autocomplete-suggestion {

        cursor: pointer;
        padding: 8px;

    }

    .autocomplete-suggestion:hover {

        background: #D1F5EC;
        color: black;

    }
}

/*Card*/
.card {
    &.card-option {
        cursor: pointer;
        border-radius: 10px;
        margin: 0 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        & .card-body {
            text-align: center;
            color: black;
            font-size: 120%;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 2rem auto;
            }
        }
    }
    &.card-option:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

/*********************
==================================
            Inputs
==================================
*/

.form-group {
    position: relative;
    margin-bottom: 2.5rem;
    .invalid-feedback {
        margin-left: 10px;
    }
    span {
        padding-left: 50px;
    }
    label {
        position: absolute;
        left: 50px;
        margin-top: 8px;
        font-weight: bold;
        color: @color-primary;
        background-color: white;
        z-index: 10;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    .form-control {
        position: relative;
        display: block;
        outline: 0;
        border-width: 2px;
        border-color: @grey-light;
        border-radius: 5px;
        background-color: transparent;
        box-shadow: none;
        color: black;
        width: 100%;
        height: auto;
        font-size: 1rem;
        line-height: 1.5;
        padding-left: 50px;


    }
    .form-control:focus {
        outline: 0;
        box-shadow: none;
    }

    input[readonly="readonly"], input[readonly="true"] {
    }
    .is-invalid {
        border-color: #dc3545;
    }
}

.focused .form-label {
    transform: translateY(-90%);
    left: 50px;
    font-size: .80em;
    padding: 0 8px;
    text-align: center;
    z-index: 10;
    color: @color-primary !important;

}

.focused.form-select .form-label {
    transform: translateY(-170%);
    left: 50px;
    font-size: .80em;
    padding: 0 8px;
    text-align: center;
    z-index: 10;
    color: @color-primary !important;

}

.form-group {
    .inp-file-msg {
        padding: 0 8px;
        position: absolute;
        left: 58px;
        top: -40%;
        font-size: 0.8em;
        background-color: white;
        z-index: 11;
        color: @color-primary;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    .custom-file-input {
        opacity: 0;
        position: absolute;
    }
    .custom-file-label {
        position: relative;
        display: block;
        outline: 0;
        border-width: 2px;
        border-color: @grey-light;
        border-radius: 5px;
        background-color: transparent;
        box-shadow: none;
        color: black;
        width: 100%;
        height: auto;
        font-size: 1rem;
        line-height: 1.5;
        padding: 1.2rem .75rem;
        padding-left: 50px;
        font-weight: normal;
        left:0;
        z-index: 0;
    }
    .custom-file-label::after {
        content: "" !important;
        background: #FFFFFF url(../../public/img/icons/ic-upload-image.png) no-repeat scroll 7px;;
        background-size: 24px;
        border: none;
        margin: auto 1rem;
        z-index: 3;
        display: block;
        height: 1rem;
        padding: 1rem;
        line-height: 1.5;
        border-radius: 0 .25rem .25rem 0;
    }
}

#input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

table.dataTable tbody td {
    vertical-align: middle;
}
